# Каталог, в якому містяться зображення
IMAGES_DIR="./input"
# Мова розпізнавання
TARGET_LANGUAGE="ukr+rus+eng"
# Гранична межа для перетворення зображення в ч/б
THRESHOLD=80
# Максимальний пробільний фактор. Вважаєм, що зображення, фактор яких вище даного, не містять даних
MAX_SPACE_FACTOR=0.25
# Кількість Workers для кожної мови
WORKERS_COUNT=3
# Мови, з яких буде розпізнаватись текст
LANGUAGES="ukr,rus+eng"